    <div class="slide-container">
      <div id="slides">
        <div class="slide">
          <img src="http://placehold.it/600x400">
          <div class="caption"><p>Happy Thursday!</p></div>
        </div>
        <div class="slide">
          <img src="http://placehold.it/600x400">
          <div class="caption"><p>Happy Thursday!</p></div>
        </div>
        <div class="slide">
          <img src="http://placehold.it/600x400">
          <div class="caption"><p>Happy Thursday!</p></div>
        </div>
        <div class="slide">
          <img src="http://placehold.it/600x400">
          <div class="caption"><p>Happy Thursday!</p></div>
        </div>                
          <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-medium"></i></a>
          <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-medium"></i></a>
      </div>
    </div>


  <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
  <script>
    $(function() {
      $('#slides').slidesjs({
        width: 700,
        height: 393,
        navigation: false
      });
    });
  </script>
  <!-- End SlidesJS Required -->
